<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style>  
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgba(255, 255, 255, 0.5);;
    font-family: sans-serif;
  }
  .login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(255, 255, 255, 0.7);
    border: 1.5px solid;
    border-radius: 10px;
    color: rgb(129, 129, 129);
  }
  .form::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
  }
  .form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 0px;
    border-radius: 50%;
  }
  .form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #000000;
  }
  .form .input-group {
    position: relative;
  }
  .form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background-color: transparent;
    color: inherit;
  }
  .form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
  }
  .form .input-group input:focus + label,
  .form .input-group input:valid + label {
    transform: translateY(-18px);
    color: #ff652f;
    font-size: .8rem;
  }
  .submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .forgot-pw {
    color: inherit;
  }
  
  .make-id {
    color: inherit;
  }
  
  
  #forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    opacity: 0;
    transition: 0.6s;
  }
  
  #make-id {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #forgot-pw:target {
    height: 100%;
    opacity: 1;
  }
  
  #make-id:target {
      height: 100%;
      opacity: 1;
  }
  
  .close1 {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  }
  
  .close2 {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  }

  select {
    display: block;
    width: 299px;
    height: 40px;
    padding: 0 12px;
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 16px;
    color: rgb(129, 129, 129);
  }

  select:focus,
  select:hover,
  select:active {
    outline: none;
    box-shadow: none;
    border-color: #ff652f;
  }
        
        </style>  
</head>
<body>
  <div class="login-wrapper">
    <div id="make-id">
      <form action="" class="form">
        <a href="#" onClick="history.back();" class="close1">&times;</a>
        <h2>회원가입</h2>
        <div class="input-group">
          <input type="text" name="Username" id="Username" required>
          <label for="Username">아이디</label>
        </div>
        <div class="input-group">
          <input type="password" name="Password" id="Password" required>
          <label for="Password">비밀번호</label>
        </div>
        <div class="input-group">
          <input type="password" name="CheckPassword" id="CheckPassword" required>
          <label for="CheckPassword">비밀번호확인</label>
        </div>
        <select name="question" id="question-select" >
                <option title="새로운 질문 선택" value>새로운 질문 선택</option>
                <option title="처음으로 샀던 자동차는?"value="1">처음으로 샀던 자동차는?</option>
                <option title="고등학교 시절 살았던 동네는?"value="2">고등학교 시절 살았던 동네는?</option>
                <option title="첫 해외여행 장소는?"value="3">첫 해외여행 장소는?</option>
                <option title="제일 좋아하는 음식점은?"value="4">제일 좋아하는 음식점은?</option>
                <option title="가장 좋아하는 스포츠 팀이나 선수의 이름은?"value="5">가장 좋아하는 스포츠 팀이나 선수의 이름은?</option>
                <option title="가장 좋아하는 영화는?"value="6">가장 좋아하는 영화는?</option>
        </select>

        <div class="input-group">
            <input type="text" name="bonincheck" id="bonincheck" required>
            <label for="BoninCheck">본인 확인 답변 입력</label>
        </div>

        <input type="submit" value="확인" class="submit-btn">
      </form>
    </div>
  </div>
</body>
</html>